<silentsettings>
	<variables>
		<var name="ProgramGroup" value="ComponentSoftware\CSDiff"/>
		<var name="AppFolder" value="%ProgramsMenu%\%ProgramGroup%"/>
		<var name="InstallPath" value="C:\Program Files\ComponentSoftware\CSDiff"/>
		<var name="LangID" value="ENU"/>
	</variables>
</silentsettings>
